{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - Аналитический сайт</title>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Custom css & js -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <scirpt src="{% static 'csv/script.js' %}" defer></scirpt>
    
    <!-- Привязываем файлы веб-сценариев с программным кодом Bootstrap вместе
    с сокращённой редакцией библиотеки jQuery, без которой не заработает раскрывающееся меню -->
    {% bootstrap_javascript jquery='slim' %} 

    {% block head %}{% endblock %}
</head>
<body class="container-fluid">
    <header class="mb-4">
        <h1 class="display-1 text-center">{% block header %}eAnalytics{% endblock %}</h1>
    </header>
    <div class="row">
        <ul class="col nav justify-content-end border">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Профиль</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Мои уведомления</a>
                    <a class="dropdown-item" href="{% url 'main:profile_change' %}">Настройки профиля</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'main:register' %}">Регистрация</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'main:login' %}">Вход</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
            <a class="nav-link root" href="{% url 'main:index' %}">Главная</a>
            <span class="nav-link root font-weight-bold">Инструменты</span>
            <a class="nav-link" href="{% url 'main:tools' tool='connections' %}">Подключения (в разработке)</a>
            <a class="nav-link" href="{% url 'main:tools' tool='datasets' %}">Датасеты</a>
            <a class="nav-link" href="#">Чарты</a>
            <a class="nav-link" href="#">Дашборды</a>            
            <a class="nav-link" href="{% url 'main:profile' %}">Мои публикации</a>
            <span class="nav-link root font-weight-bold" href="#">Категория 2</span>
            <a class="nav-link" href="#">Подкатегория 1</a>
            <a class="nav-link" href="#">Подкатегория 2</a>
            <a class="nav-link" href="#">Подкатегория 3</a>
            <a class="nav-link root" href="{% url 'main:other' page='about' %}">О сайте</a>
        </nav>
        <section class="col border py-2">
            {% bootstrap_messages %} 
            {% block content %} 
            {% endblock %} 
        </section>
    </div>
    <footer class="mt-3">
        <p class="test-right font-italic">&copy; читатели.</p>
    </footer>
</body>
</html>